@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>METU Informatics Institute</h1>

    <h2>Software Management</h2>
    <br />
    <br />
    <h3>SM504 - Team Project - Stockupy</h3>
    <br />
    <br />
    <br />
    <br />
    <h5>Özgün ŞEN - Berfu ANIL - Nehir ERDEM - Esra ATEŞ</h5>
</div>
